{
  "v": "2",
  "ps": "{{ ansible_hostname }}",
  "add": "{{ ansible_hostname }}.{{ domain }}",
  "port": "443",
  "id": "{{ id }}",
  "aid": "0",
  "scy": "auto",
  "net": "ws",
  "type": "none",
  "host": "{{ ansible_hostname }}.{{ domain }}",
  "path": "{{ endpoint }}",
  "tls": "tls",
  "sni": "{{ ansible_hostname }}.{{ domain }}",
  "alpn": "h3,h2,http/1.1",
  "fp": ""
}
